{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button type="submit">Parse</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        const fileInputs = document.querySelectorAll('.custom-file-input');

        fileInputs.forEach(function(input) {
            input.addEventListener('change',function(e){
                console.log(e);
                const fileName = e.target.files[0].name;
                const nextSibling = e.target.nextElementSibling;
                nextSibling.innerText = fileName;
            })
        });
    </script>
{% endblock %}
